body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
.lead {
  line-height: 1.5;
}

.navbar-light .navbar-nav .nav-link {
  color: #121212;
  font-family: "Dongle", sans-serif;
  font-size: 1.3rem;
}

.main-image {
  width: 100%;
  height: auto;
  position:relative;
  z-index:0;
}

.custom-button{
  width: 20%;
  position: sticky;
  left: 14px;
  display: inline-block;
  margin-top: -190px;
  margin-left: 4px;
}

.main-title{
  position: relative;
  z-index: 1;
  left: 2px;
  top: 300px;
  display: inline-block;
  margin-left: 4px;
  font-size: 5vw;
  font-family: "Dongle", sans-serif;

}




/*media */
/*media responsive main title */
@media(max-width:763px){
  body{
    background-color: red;
  }
  .main-title{
    position: relative;
    top: 35vh;
  }
}

